body {
    background-image: url("img/duel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    margin: 10px;
    width: 10%;
    height: 190px;
    background-color: grey;
    border: 6px solid white;
    border-radius: 25px;
}

.card:hover {
    transform: scale(1.03);
    transition: all 0.2s linear;
    /* transform: rotateY(180deg); */
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.black {
    background-color: rgb(22, 20, 20);
}

.magenta {
    background-color: magenta;
}

.green {
    background-color: green;
}

.lightblue {
    background-color: lightblue;
}

.grey {
    background-color: grey;
}

.flipped {
    background-image: url("./img/dos_carte.jpg");
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0%;
}

.endgame {
    border: 1px solid black;
    width: 25%;
    margin: auto;
    margin-top: 120px;
    text-align: center;
    padding: 20px;
    color: #39ff14;
    box-shadow: 0 0 50px #39ff14;
    background-color: black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    /* box-shadow: 5px 2px 3px rgb(99, 95, 95); */
    /* background-color: rgba(190, 45, 219, 0.5); */
    margin: 10px auto;
    padding: 10px;
    width: 90%;
}

.container {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.title {
    color: #39ff14;
    text-shadow: 0 0 50px #39ff14;
    text-align: center;
}

.reset {
    padding: 10px;
    display: block;
    color: #008000;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    overflow: hidden;
    margin: auto;
}

.reset:hover {
    color: #111;
    background: #39ff14;
    box-shadow: 0 0 50px #39ff14;
}

.rotate:hover {
    transform: rotateY(0deg);
    transform: rotateY(-1800deg);
    transition: 0.4s;
}