body {
    background-color: rgb(21, 220, 235);
}

.card {
    margin: 10px;
    width: 10%;
    height: 175px;
    background-color: grey;
    border: 6px solid grey;
    border-radius: 25px;
    display: inline-block;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.flipped {
    background-image: url("logo.png");
    background-attachment: fixed;
}

.endgame {
    border: 1px solid black;
    width: 25%;
    margin: auto;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 2px 3px rgb(99, 95, 95);
}

.grid {
    border: 1px solid black;
    box-shadow: 5px 2px 3px rgb(99, 95, 95);
    margin: 10px;
    padding: 10px;
    background-color: rgba(177, 161, 24, 0.5);
}

.container {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.title {
    color: #ee4e00;
}

.reset {
    padding: 10px;
    display: inline-block;
    color: #008000;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    overflow: hidden;
}

.reset:hover {
    color: #111;
    background: #39ff14;
    box-shadow: 0 0 50px #39ff14;
}