@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Press+Start+2P&display=swap");

body {
    background-image: url("img/duel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Audiowide", monospace;
}

.card {
    margin: 5px;
    width: 10%;
    height: 165px;
    background-color: grey;
    border: 6px solid white;
    border-radius: 25px;
}

.card:hover {
    transform: scale(1.03);
    transition: all 0.3s linear;
}

.yellow {
    background-image: url("./img/card-yellow.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.red {
    background-image: url("./img/card-red.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.blue {
    background-image: url("./img/card-blue.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.magenta {
    background-image: url("./img/card-magenta.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.violet {
    background-image: url("./img/card-violet.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.green {
    background-image: url("./img/card-green.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.salmon {
    background-image: url("./img/card-salmon.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.brown {
    background-image: url("./img/card-brown.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.flipped {
    background-image: url("./img/dos_carte.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.endgame {
    border: 1px solid black;
    width: 25%;
    margin: auto;
    margin-top: 120px;
    text-align: center;
    padding: 20px;
    color: #39ff14;
    box-shadow: 0 0 50px #39ff14;
    background-color: black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    padding: 5px;
    width: 90%;
    margin-inline-end: 23px;
}

.container {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.title {
    color: #39ff14;
    text-shadow: 0 0 50px #39ff14;
    text-align: center;
    margin: 20px;
}

.try {
    color: #39ff14;
    text-shadow: 0 0 50px #39ff14;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.reset {
    padding: 10px;
    display: block;
    color: #008000;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    overflow: hidden;
    margin: auto;
    border-radius: 18px;
}

.reset:hover {
    color: #111;
    background: #39ff14;
    box-shadow: 0 0 50px #39ff14;
    transform: scaleX(1.05);
    transition: 0.3s;
}

.rotate:hover {
    transform: rotateY(180deg);
    transition: all 0.2s;
}